/* general */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 5%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0065FC;
}
li{
    list-style: none;
}
h1, h2{
    font-size: 18px;
    font-weight:bold;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:25px 0;
}
/* logo */
header img{
    height: 50px;
}
/* nav */
nav ul {
    display: flex;
    list-style-type: none;
}
nav a{
    padding: 0 25px;
}
nav a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 38px;
}
/* search bar */
.search_bar{
    padding-top: 15px;
    display:flex;
}
.fa-location-dot{
    vertical-align: middle;
    padding:15px 17px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
#town{
    border:1px solid #f2f2f2;
    height:100%;
    margin-left: -5px;
    z-index: 1;
    padding-left:10px;
    font-weight: bold;
}
#search_button{
    height:100%;
    border:0;
    color:white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
    padding:0 15px;
    font-weight: bold;
    cursor: pointer;
}
#search_phone{
    display: none;
}
/* filter */
.filter{
    margin-top:20px;
    margin-bottom: 0;
    font-weight:bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter p{
    margin: 0;
}
.filter ul{    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.filter li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:3px solid #f2f2f2;
    border-radius: 20px;
    margin:10px;
    padding-right:20px;      
}
.filter li:hover{
    background-color: #DEEBFF;
    transition: 0.4s;
}
.filter i{
    background-color: #DEEBFF;
    color: #0065FC;
    height:40px;
    width: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 100%;
    margin-left:-5px;
    margin-right:15px;
}
.info{
    display:flex;
    align-items: center;
}
.fa-info{
    color:#0065FC;
    border:2px solid #f2f2f2;
    border-radius: 100%;
    padding:5px 8px;   
    font-size:10px; 
    font-weight: bold;
}
.info p{
    margin-left:10px;
}
/* accommodation section */
.accommodation_popular{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    font-size:13px;
}
.accommodation_result{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 65%;
}
.accommodation_popular h2{
    padding-left:35px;
    margin-top: 30px;
}
/* accommodation cards global layout */
.accommodation_card{
    margin:10px 35px 30px 35px;
    display:flex;
    justify-content: space-between;   
}
/* accommodation single card */
.accommodation_single_card{
    background-color: white;
    border:4px solid transparent;
    border-radius: 20px;
    width:30%;
    padding-bottom:5px;
    box-shadow: 0 4px 8px 0 #d2d2d2;
}
.accommodation_single_card:hover{
    box-shadow: 0 8px 16px 0 #d2d2d2;
}
.accommodation_single_card img{
    width:100%;
    height:110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.accommodation_single_card_description{
    margin-left:10px;
}
.accommodation_single_card_description h3, .accommodation_single_card_description p{
    margin: 5px 0 5px 0;
}
/* rating */
.full{
    color:#0065FC;
}
.empty{
    color: #f2f2f2;
}
/* accommodation more result */
.accommodation_more{
    margin:10px 35px 20px 35px;
    font-weight: bold;
}
/* popular accommodation */
.popular{
    background-color: #f2f2f2;
    width:32%;
    border-radius: 20px;
}
.popular_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}
.popular_header i{
    margin-top:20px;
}
.popular_card{
    margin:0 35px 30px 35px;
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    height:85%;
    border:1px solid yellowgreen;
}
.popular_single_card{
    background-color: white;
    border:4px solid transparent;
    border-radius: 20px;
}







