/* general */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 5%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0065FC;
}
li{
    list-style: none;
}
h1{
    font-size: 18px;
    font-weight:bold;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:25px 0px;
}
/* logo */
header img{
    height: 50px;
}
/* nav */
nav ul {
    display: flex;
    list-style-type: none;
}
nav a{
    padding: 0 25px;
}
nav a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 38px;
}
/* search bar */
.search_bar{
    padding-top: 15px;
    display:flex;
}
.fa-location-dot{
    vertical-align: middle;
    padding:15px 17px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
#town{
    border:1px solid #f2f2f2;
    height:100%;
    margin-left: -5px;
    z-index: 1;
    padding-left:10px;
    font-weight: bold;
}
#search_button{
    height:100%;
    border:0px;
    color:white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    padding:0px 15px;
    font-weight: bold;
    cursor: pointer;
}
#search_phone{
    display: none;
}


