/* general */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1168px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0065FC;
}
li{
    list-style: none;
}
h1, h2{
    font-size: 18px;
    font-weight:bold;
}
h3{
    font-size: 14px;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:25px 0;
}
/* logo */
header img{
    height: 50px;
}
/* nav */
nav ul {
    display: flex;
    list-style-type: none;
}
nav a{
    padding: 0 25px;
}
nav a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 36px;
}
/* search bar */
.search_bar{
    padding-top: 15px;
    display:flex;
}
.fa-location-dot{
    vertical-align: middle;
    padding:15px 17px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
#town{
    border:1px solid #f2f2f2;
    height:100%;
    margin-left: -5px;
    z-index: 1;
    padding-left:10px;
    font-weight: bold;
}
#search_button{
    height:100%;
    border:0;
    color:white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
    padding:0 15px;
    font-weight: bold;
    cursor: pointer;
}
#search_phone{
    display: none;
}
/* filter */
.filter{
    margin-top:20px;
    margin-bottom: 0;
    font-weight:bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter p{
    margin: 0;
}
.filter ul{    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.filter li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:3px solid #f2f2f2;
    border-radius: 20px;
    margin:10px;
    padding-right:20px;      
}
.filter li:hover{
    background-color: #DEEBFF;
    transition: 0.4s;
}
.filter i{
    background-color: #DEEBFF;
    color: #0065FC;
    height:40px;
    width: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 100%;
    margin-left:-5px;
    margin-right:15px;
}
.info{
    display:flex;
    align-items: center;
}
.fa-info{
    color:#0065FC;
    border:2px solid #f2f2f2;
    border-radius: 100%;
    padding:5px 8px;   
    font-size:10px; 
    font-weight: bold;
}
.info p{
    margin-left:10px;
}
/* accommodation and popular section */
#accommodation{
    margin-top:35px;
    display: flex;
    gap:35px;
}
/* accommodation and popular general layout */
.result_general_layout{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding:20px 35px;    
}
.result_header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.accommodation_single_card:hover, .popular_single_card:hover{
    box-shadow: 0 8px 16px 0 #d2d2d2;
}
/* accommodation and popular result cards size */
.accommodation_result{
    flex:2;
}
.popular_result{
    flex:1;
}
/* accommodation cards */
.accommodation_cards{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    padding:17px 0 17px 0;    
}
.accommodation_single_card{
    flex:1;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #cccccc;
}
.accommodation_single_card img{
    width:100%;
    height:120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border:4px solid #ffffff;
}
.accommodation_single_card_description{
    margin: 10px;
}
.accommodation_single_card_description h3, .accommodation_single_card_description p, .accommodation_single_card_rating{
    margin:3px 0;
}
/* popular result cards */
.popular_cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:35px;
    justify-content: space-around;
    padding:17px 0 17px 0;
}
.popular_single_card{
    flex:1;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #cccccc;
}
.popular_single_card img{
    height:130px;
    width:110px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border:4px solid #ffffff;
}
.popular_single_card a{
    display: flex;
}

.popular_single_card_description{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular_single_card_description h3, .popular_single_card_description p, .popular_single_card_rating{
    margin:3px 0;
}
/* rating icon */
.full{
    color:#0065FC;
}
.empty{
    color:#f2f2f2;
}
/* Activity section */
#activity{
    margin-top:35px;
}
.activity_cards{    
    display: flex;
    gap:45px;
}
.activity_portrait_card{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activity_cards h3{
    margin:10px 15px;
}
.activity_big_card{
    border-radius:20px;
    box-shadow: 0 4px 8px 0 #cccccc;
}
.activity_big_card:hover{
    box-shadow: 0 8px 16px 0 #cccccc;
}
.activity_big_card img{
    border-radius: 20px 20px 0 0;
    height:300px;
    width: 100%;
    object-fit: cover;
}
.activity_small_card{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #cccccc;
}
.activity_small_card:hover{
    box-shadow: 0 8px 16px 0 #cccccc;
}
.activity_small_card img{  
    width: 100%;  
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.bigger_card img{
    height:140px;
}
.smaller_card img{
    height:80px;
}
/* footer */
footer{
    margin-top:45px;
    padding:25px 0;
    background-color:#f2f2f2;
    display: flex;
}
footer div{
    flex:1;
}
footer ul{
    padding:0;    
}
footer li{
    margin:7px 0;
}

