/* general */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 5%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0065FC;
}
li{
    list-style: none;
}
h1{
    font-size: 18px;
    font-weight:bold;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    padding:25px 0;
}
/* logo */
header img{
    height: 50px;
}
/* nav */
nav ul {
    display: flex;
    list-style-type: none;
}
nav a{
    padding: 0 25px;
}
nav a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 38px;
}
/* search bar */
.search_bar{
    padding-top: 15px;
    display:flex;
}
.fa-location-dot{
    vertical-align: middle;
    padding:15px 17px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
#town{
    border:1px solid #f2f2f2;
    height:100%;
    margin-left: -5px;
    z-index: 1;
    padding-left:10px;
    font-weight: bold;
}
#search_button{
    height:100%;
    border:0;
    color:white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
    padding:0 15px;
    font-weight: bold;
    cursor: pointer;
}
#search_phone{
    display: none;
}
/* filter */
.filter{
    margin-top:20px;
    margin-bottom: 0;
    font-weight:bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter p{
    margin: 0;
}
.filter ul{    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.filter li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:3px solid #f2f2f2;
    border-radius: 20px;
    margin:10px;
    padding-right:20px;  
    
}
.filter i{
    background-color: #DEEBFF;
    color: #0065FC;
    height:40px;
    width: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 100%;
    margin-left:-5px;
    margin-right:15px;
}
.info{
    display:flex;
    align-items: center;
}
.fa-info{
    color:#0065FC;
    border:2px solid #f2f2f2;
    border-radius: 100%;
    padding:5px 8px;   
    font-size:10px; 
    font-weight: bold;
}
.info p{
    margin-left:10px;
}


