@media screen and (max-width: 767px)
{
    /* general */
    body{
        margin:0;
    }
    /* header */
    header{
        margin: 20px 0 0 0;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    /* nav */
    nav a:hover{
        border-top: 0;        
    }
    nav{
        width: 100%;
        padding: 20px 0 0 0;
    }
    nav ul{
        padding: 0;
    }
    nav li{        
        width: 100%;
        margin:0;
        padding: 0 0 20px 0;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }
    nav li:hover{
        border-bottom: 3px solid #0065FC;
    }
    /* search bar */
    #search_section{
            margin:0 30px;
    }
    .search_form{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width:100%;
    }
    .search_form #town{
        flex: 1;
    }
    #search_phone{
        display: unset;
        border:0;
        color:white;
        border-radius: 15px;
        padding:15px;
        background-color: #0065FC;
        margin-left:-15px;
        z-index: 1;
        cursor: pointer;
    }
    #search_button{
        display: none;
    }
    /* popular section */
    .popular_result{
        order:1;
        border-radius: 0;
    }
    /* accommodation section */
    .accommodation_result{
        order:2;
        border-radius: 0;
        background-color: #ffffff;
    }
    .accommodation_cards{
        display: flex;
        flex-direction: column;
    }
    /* activity section */
    #activity{
        padding:0 35px;
    }
    .activity_portrait_card{
        flex-direction: column;
    }
    footer{
        padding: 0 35px;
        flex-direction: column;
    }    
}
