@media screen and (max-width: 992px) {
    /*--general--*/
    body{
        margin: 0 30px;
    } 
    #accommodation{
        display:flex;
        flex-direction: column;
    }
    .activity_cards img{
        height:150px;
    }    
    .activity_cards{
        flex-direction: column;
    }
    .activity_big_card{
        width: 100%;
    }
    .activity_portrait_card{
        flex-direction: row;
        gap:45px;
    }
}
    